.field {
  margin: 0.5em 0;
}
.field.error {
  color: var(--danger);
}
.field.error input {
  border-color: var(--danger);
}
.field label {
  display: block;
  margin-bottom: 0.25em;
}

.field label span {
  opacity: 0.6;
  margin-left: 0.2em;
}

.field input {
  width: 100%;
  box-sizing: border-box;
}

.field input:hover {
  border-color: grey;
}
