.account-nav {
  margin: 0.5em;
}

.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  z-index: 11;
}

.user {
  font-size: 0.9em;
  cursor: pointer;
  background: white;
  padding: 5px;
  box-shadow: 1px 1px 4px rgb(221, 221, 221);
  border-radius: 5px;
}

.avatar {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  font-size: 0.8em;
  font-weight: 500;
  background: grey;
  color: white;
  margin: auto;
}

.account-nav .dropdown {
  right: 0px;
  margin-top: 5px;
  z-index: 1;
  min-width: 100px;
  text-align: center;
}

.account-nav button:hover {
  background: whitesmoke;
}

.app-menu {
  margin: 0.5em;
  z-index: 10;
}

button.logo {
  display: grid;
  align-items: center;
  grid-template-columns: 50% 50%;
  grid-gap: 0.3em;
  padding: 0.5em;
  background: white;
  box-shadow: 1px 1px 4px rgb(221 221 221);
  margin-bottom: 0.4em;
}

.files {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.file-item {
  box-shadow: 0px 0px 5px #dadada;
  border-radius: 5px;
  color: #2d2d2d;
  cursor: pointer;
  border: 1px solid #dedede;
  margin: 0.5em;
}

.file-item img {
  height: 80px;
  min-height: 80px;
  min-width: 120px;
}

.file-item .title {
  font-size: 1em;
  font-weight: 500;
  padding: 0.2em 0.5em;
  background: #f3f3f3;
}

.file-name input {
  text-align: center;
  background: transparent;
  border: none;
  border-bottom: 2px solid #1780d3;
  outline: none;
  margin-top: 0.5em;
}

.file-name .text:hover {
  text-decoration: underline;
}

.file-name .text {
  font-size: 0.9em;
  margin: 0.4em 0;
  cursor: pointer;
}

.app-menu .menu {
  background: white;
  border-radius: 0.3em;
  width: 500px;
  padding: 0.5em;
}

.app-menu .menu .branding {
  justify-content: flex-end;
}
