.divider {
  display: flex;
  align-items: center;
  font-size: 0.8em;
  font-weight: 500;
}

.line {
  flex-grow: 1;
  position: relative;
}

.line:before {
  content: '';
  width: calc(100% - 20px);
  height: 1px;
  background: #d5d5d5;
  position: absolute;
  left: 10px;
}
