* {
  --primary: #008fe0;
  --danger: #d62417;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  background: whitesmoke;
}

.dropdown {
  position: absolute;
  background: white;
  padding: 5px;
  box-shadow: 0 0 8px 1px #e0e0e0;
  border-radius: 5px;
}

button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: transparent;
  padding: 5px 10px;
}

button.primary {
  background: var(--primary);
  color: white;
  transition: transform 100ms;
}

button.primary:hover {
  transform: scale(1.05);
}

button.primary:active {
  transform: translateY(0.1em) scale(1.05);
}

.spinner {
  border: 3px solid rgb(214, 214, 214);
  border-radius: 50%;
  border-top: 3px solid var(--primary);
  width: 30px;
  height: 30px;
  -webkit-animation: spin 1200ms linear infinite; /* Safari */
  animation: spin 1200ms linear infinite;
}

.hint {
  font-size: 0.8em;
  opacity: 0.7;
  white-space: nowrap;
  padding: 0.5em 1em;
}

button.link {
  color: var(--primary);
  font-size: 0.8em;
}

button.secondary {
  background: #00000009;
}

button.secondary:hover {
  background: #00000010;
}

button.link:hover {
  text-decoration: underline;
  background: #00000009;
}

button.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
button.icon .label {
  padding-left: 0.5em;
}

.error-message {
  color: var(--danger);
  font-weight: 500;
  font-size: 0.8em;
}
/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
